.app {
    text-align: center;
    margin-top: 10%;
    font-size: 1.5rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.app .calculator {
    width: 20rem;
    border: 1px solid #01b0d3;
    padding: 2rem;
}

.app form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.app input, select {
    font-size: 1.5rem;
    margin-left: 1rem;
    width: 5rem;
}

.app button {
    border: none;
    background-color: #01b0d3;
    color: #fff;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
}